body {
  background: linear-gradient(#E38339, #9198e5);
  
}

p {
	font-family: 'Courier New', monospace;
	
}

h1{
  font-weight:bold;
  color: white !important;
}

h2{
  font-weight:bold;
  color: white !important;
}

img {
  border-radius: 10%;
}
